.select_wrapper {
    padding: 10px;
    min-width: 200px;
    min-height: 100px;
    text-align: center;
    margin-bottom: 10px;
}

.select_trigger {
    display: flex;
    justify-content: space-between;

    background-color: orangered;

    font-size: 18px;
    padding: 5px;
}

.select_trigger:hover,
.select_trigger:active {
    cursor:pointer;
}

.select_list {
    /*position: absolute;*/
}
.select_item {
    text-align: left;
    background-color: #c99e7b;
    padding: 5px;
}

.select_item:hover {
    background-color: #cc8041;
}

.select_item:active {
    border: 2px solid #d35132;
}

.select_triangle:active,
.select_triangle:hover {
    cursor: pointer;
}