.container {
    padding: 10px;
    margin: 2px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    line-height: 20px;
}

.on_switch {
    width: 20px;
    height: 20px;
    background-color: white;
    padding: 15px;
}

.off_switch {
    width: 20px;
    height: 20px;
    padding: 15px;
    background-color: white;
}

.indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;

    background-color: white;
}