.container {
    padding: 10px;
    margin: 2px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
}

.on_switch {
    width: 20px;
    height: 20px;
    align-items: center;
    background-color: white;
    text-align: center;
    padding: 15px;
}

.off_switch {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 15px;

    background-color: white;
}

.indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;

    background-color: white;
}