.App {
    width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accUncontrolled {
    text-align: center;
    border: 2px solid aquamarine;
    margin: 10px;
    padding: 10px;
}

.accBody {
    list-style: none;
    padding: 0;
    margin: 0;
}

.rating {
    border: 2px solid aquamarine;
    margin: 10px;
    padding: 10px;
}

.ratingUncontrolled {
    border: 2px solid aquamarine;
    margin: 10px;
    padding: 10px;
}